/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*colors*/
/* line 36, ../sass/_variables.scss */
#isPhone, #isTablet, #isDesktop {
  display: none;
  pointer-events: none;
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
}

/* line 46, ../sass/_variables.scss */
.hide-for-mobile-only {
  display: block;
}

/* line 50, ../sass/_variables.scss */
.show-for-mobile-only {
  display: none;
}

@media (max-width: 600px) {
  /* line 56, ../sass/_variables.scss */
  #isPhone {
    display: block;
  }

  /* line 60, ../sass/_variables.scss */
  #isTablet, #isDesktop {
    display: none;
  }

  /* line 64, ../sass/_variables.scss */
  .hide-for-mobile-only {
    display: none;
  }

  /* line 67, ../sass/_variables.scss */
  .show-for-mobile-only {
    display: block;
  }
}
@media (max-width: 850px) {
  /* line 73, ../sass/_variables.scss */
  #isTablet {
    display: block;
  }

  /* line 77, ../sass/_variables.scss */
  #isPhone, #isDesktop {
    display: none;
  }
}
/* Text styles */
/* line 3, ../sass/_typography.scss */
h1 {
  font-family: Lato;
  margin-bottom: 70px;
  font-size: 2em;
  line-height: 38px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #333;
  text-align: center;
}

/* line 16, ../sass/_typography.scss */
h2 {
  font-family: Lato;
  font-size: 22px;
  line-height: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 700;
  text-align: left;
  color: #333;
}

/* line 27, ../sass/_typography.scss */
p {
  margin-bottom: 12px;
  margin-top: 0;
  font-size: 12px;
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

/* line 38, ../sass/_typography.scss */
#lede p {
  font-size: 17px;
  line-height: 24px;
}

/* line 43, ../sass/_typography.scss */
a {
  color: #1696d2;
}

/* line 47, ../sass/_typography.scss */
.date {
  color: #353535;
  font-size: 14px;
}

/* line 10, ../sass/main.scss */
.banner-img {
  position: relative;
  display: block;
  width: 100%;
  height: 400px;
  max-width: none;
  background-image: url(../../img/baltimore.jpg);
  background-position: center bottom;
  background-size: cover;
}

/* line 22, ../sass/main.scss */
#lede {
  width: 100%;
  max-width: 725px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 80px;
}
/* line 29, ../sass/main.scss */
#lede .date {
  width: 100%;
  text-align: center;
  border-top: 1px solid #d2d2d2;
  padding-top: 5px;
  padding-bottom: 30px;
}

/* line 38, ../sass/main.scss */
.mega-container {
  background-color: #fff;
  margin-left: 50px;
  margin-right: 50px;
}

/* line 44, ../sass/main.scss */
#story-container {
  width: 100%;
  position: relative;
  max-width: 950px;
  margin: 0 auto;
}
/* line 50, ../sass/main.scss */
#story-container #story {
  width: 40%;
  padding-top: 20px;
  padding-right: 3%;
}
/* line 55, ../sass/main.scss */
#story-container #story .div-section-divider {
  display: block;
  width: 200px;
  height: 6px;
  margin-top: 60px;
  background-color: #1696d2;
  margin-bottom: 50px;
}
/* line 64, ../sass/main.scss */
#story-container #story .slide {
  padding: 0;
  margin: 0;
  min-height: 940px;
  padding-bottom: 100px;
}
/* line 70, ../sass/main.scss */
#story-container #story .slide span.highlight {
  background-color: #fdd870;
  padding-left: 2px;
  padding-right: 2px;
  cursor: pointer;
  border-bottom: 2px solid #ca5800;
  border-radius: 2px;
}
/* line 78, ../sass/main.scss */
#story-container #story .slide span.highlight:hover {
  background-color: #fccb41;
}
/* line 85, ../sass/main.scss */
#story-container #sticky-right {
  height: 100vh;
  width: 60%;
  position: absolute;
  top: 0;
  margin-left: 40%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 102, ../sass/main.scss */
#story-container #sticky-right.is-fixed {
  position: fixed;
  width: inherit;
  max-width: inherit;
  margin-left: 0;
}
@media (max-width: 1050px) {
  /* line 102, ../sass/main.scss */
  #story-container #sticky-right.is-fixed {
    width: calc(100% - 100px);
    max-width: none;
  }
}
/* line 114, ../sass/main.scss */
#story-container #sticky-right.is-fixed .sticky-right-inner {
  width: 60%;
  margin-left: 40%;
}
/* line 119, ../sass/main.scss */
#story-container #sticky-right.is-bottom {
  top: auto;
  bottom: 0;
}
/* line 124, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner {
  width: 100%;
  height: 100%;
}
/* line 128, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic {
  width: calc(100% - 25px);
  height: 65%;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  pointer-events: all;
  background-color: #fff;
}
@media (max-width: 850px) {
  /* line 128, ../sass/main.scss */
  #story-container #sticky-right .sticky-right-inner .graphic {
    height: 40%;
  }
}
/* line 143, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend {
  max-width: 250px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 10px;
  margin: 10px;
  font-family: "Lato" !important;
}
/* line 154, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend h5 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Lato";
}
/* line 160, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .choromap {
  display: none;
}
/* line 163, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .choromap.active {
  display: block;
}
/* line 167, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .choromap div.item {
  font-size: 14px;
}
/* line 169, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .choromap div.item div {
  height: 12px;
  width: 20px;
  float: left;
  margin-top: 5px;
  margin-right: 10px;
}
/* line 178, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .choromap div.item#c1 div {
  background-color: #cfe8f3;
}
/* line 179, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .choromap div.item#c2 div {
  background-color: #73bfe2;
}
/* line 180, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .choromap div.item#c3 div {
  background-color: #1696d2;
}
/* line 181, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .choromap div.item#c4 div {
  background-color: #0a4c6a;
}
/* line 182, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .choromap div.item#c5 div {
  background-color: #000000;
}
/* line 185, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .dotmap {
  display: none;
}
/* line 188, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .dotmap.active {
  display: block;
}
/* line 192, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .dotmap div.item {
  font-size: 14px;
}
/* line 194, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .dotmap div.item div {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  float: left;
  margin-top: 5px;
  margin-right: 10px;
}
/* line 202, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .dotmap div.item div#b1 {
  background-color: #1695d0;
}
/* line 203, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .dotmap div.item div#b2 {
  background-color: #ec008b;
}
/* line 204, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .dotmap div.item div#b3 {
  background-color: #fdbf11;
}
/* line 205, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .dotmap div.item div#b4 {
  background-color: #000;
}
/* line 212, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .chart-type {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 218, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .chart-type.inactive {
  opacity: 0;
}
/* line 225, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .chart-type .title h4 {
  font-size: 14px;
  font-family: "Lato";
  text-transform: none;
}
/* line 232, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .chart-type .inline-legend {
  background-color: pink;
}
/* line 235, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .chart-type .inline-legend .item {
  float: left;
  font-size: 12px;
  padding-right: 10px;
}
/* line 240, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .chart-type .inline-legend .item div {
  width: 20px;
  height: 10px;
  float: left;
  margin-top: 2px;
  margin-right: 5px;
}
/* line 247, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .chart-type .inline-legend .item div#s1 {
  background-color: #1696d2;
}
/* line 248, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .chart-type .inline-legend .item div#s2 {
  background-color: #fdbf11;
}
/* line 249, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .chart-type .inline-legend .item div#s3 {
  background-color: #000;
}
/* line 256, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .notes {
  font-size: 12px;
  height: 65%;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  pointer-events: all;
}
@media (max-width: 850px) {
  /* line 256, ../sass/main.scss */
  #story-container #sticky-right .sticky-right-inner .notes {
    display: none;
  }
}
/* line 275, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .bubble-nav {
  width: 15px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 5px;
}
/* line 282, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .bubble-nav .bubble {
  height: 14px;
  width: 14px;
  background-color: #D2D2D2;
  border-radius: 50%;
  float: left;
  clear: both;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  cursor: pointer;
  pointer-events: all;
}
/* line 295, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .bubble-nav .bubble .label {
  margin-left: 17px;
  margin-top: -9px;
  font-size: 13px;
  display: none;
  pointer-events: none;
  text-transform: capitalize;
  background-color: #fff;
  white-space: nowrap;
  direction: rtl;
}
/* line 307, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .bubble-nav .bubble .label p.bubble-text {
  display: inline-block;
  background-color: #1696D2;
  color: #fff;
  margin-right: 27px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: -6px;
}
/* line 320, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .bubble-nav .bubble.active {
  background-color: #0096d2;
}
/* line 325, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .bubble-nav .bubble:hover .label {
  display: block;
}
/* line 330, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .bubble-nav .clearer {
  clear: both;
}

/* line 338, ../sass/main.scss */
.footer {
  width: 100%;
  max-width: 725px;
  padding: 20px;
  margin: 0 auto;
}
/* line 344, ../sass/main.scss */
.footer h1 {
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 25px;
  padding-top: 75px;
  color: #000;
  font-size: 34px;
  font-weight: 300;
}
/* line 354, ../sass/main.scss */
.footer p {
  color: #353535;
  font-size: 16px;
}
/* line 359, ../sass/main.scss */
.footer .button {
  background-color: #000;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  display: inline-block;
  padding: 9px 15px;
  border: 0;
  line-height: 26px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
  text-transform: uppercase;
}
/* line 373, ../sass/main.scss */
.footer .button:hover {
  background-color: #1696d2;
}
/* line 379, ../sass/main.scss */
.footer .credit-list p {
  margin-bottom: 10px;
  color: #353535;
  font-size: 14px;
}

@media (max-width: 850px) {
  /* line 389, ../sass/main.scss */
  h2 {
    font-size: 20px;
  }

  /* line 392, ../sass/main.scss */
  .banner-img {
    height: 300px;
  }

  /* line 395, ../sass/main.scss */
  #lede {
    padding-left: 40px;
    padding-right: 40px;
  }

  /* line 399, ../sass/main.scss */
  .mega-container {
    margin: 0px;
  }
  /* line 404, ../sass/main.scss */
  .mega-container #story-container #story {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0px;
  }
  /* line 411, ../sass/main.scss */
  .mega-container #story-container #story .div-section-divider {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  /* line 421, ../sass/main.scss */
  .mega-container #story-container #sticky-right {
    z-index: -100;
    width: 100%;
  }
  /* line 426, ../sass/main.scss */
  .mega-container #story-container #sticky-right.is-fixed {
    z-index: 100;
  }
  /* line 431, ../sass/main.scss */
  .mega-container #story-container #sticky-right.is-fixed .sticky-right-inner {
    width: 100%;
    margin-left: 0;
  }
  /* line 435, ../sass/main.scss */
  .mega-container #story-container #sticky-right.is-fixed .sticky-right-inner .graphic {
    width: 100%;
    transform: none;
    top: 40px;
  }
  /* line 447, ../sass/main.scss */
  .mega-container #story-container #sticky-right .sticky-right-inner .graphic {
    border-bottom: 3px solid black;
  }
  /* line 454, ../sass/main.scss */
  .mega-container #story-container #sticky-right .sticky-right-inner .bubble-nav {
    width: 40px;
    right: -15px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  /* line 461, ../sass/main.scss */
  .mega-container #story-container #sticky-right .sticky-right-inner .bubble-nav .bubble .label p.bubble-text {
    display: none;
  }

  /* line 471, ../sass/main.scss */
  .footer {
    padding-left: 40px;
    padding-right: 40px;
  }
}
/* line 480, ../sass/main.scss */
.bar {
  fill: #1696d2;
}

/* line 484, ../sass/main.scss */
.bar.mission, .bar.special, .bar.poverty {
  fill: #fdbf11;
}

/* line 488, ../sass/main.scss */
.bar.public {
  fill: #000;
}

/* line 492, ../sass/main.scss */
.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

/* line 500, ../sass/main.scss */
.tick text {
  font-family: "Lato";
}

/* line 504, ../sass/main.scss */
.x path {
  display: none;
}

/* line 508, ../sass/main.scss */
.y line {
  display: none;
}

@media (max-width: 600px) {
  /* line 513, ../sass/main.scss */
  .footer, #story, #lede {
    padding-left: 30px;
    padding-right: 30px;
  }

  /* line 518, ../sass/main.scss */
  #story-container #story .div-section-divider {
    width: 100%;
  }
}
