/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*colors*/
/* line 37, ../sass/_variables.scss */
#isPhone, #isTablet, #isDesktop {
  display: none;
  pointer-events: none;
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
}

/* line 47, ../sass/_variables.scss */
.hide-for-mobile-only {
  display: block;
}

/* line 51, ../sass/_variables.scss */
.show-for-mobile-only {
  display: none;
}

@media (max-width: 600px) {
  /* line 57, ../sass/_variables.scss */
  #isPhone {
    display: block;
  }

  /* line 61, ../sass/_variables.scss */
  #isTablet, #isDesktop {
    display: none;
  }

  /* line 65, ../sass/_variables.scss */
  .hide-for-mobile-only {
    display: none;
  }

  /* line 68, ../sass/_variables.scss */
  .show-for-mobile-only {
    display: block;
  }
}
@media (max-width: 850px) {
  /* line 74, ../sass/_variables.scss */
  #isTablet {
    display: block;
  }

  /* line 78, ../sass/_variables.scss */
  #isPhone, #isDesktop {
    display: none;
  }
}
/* Text styles */
/* line 3, ../sass/_typography.scss */
h1 {
  font-family: Lato;
  line-height: 38px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #333;
  text-align: center;
}

/* line 15, ../sass/_typography.scss */
h2 {
  font-family: Lato;
  font-size: 22px;
  line-height: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 700;
  text-align: left;
  color: #333;
}

/* line 26, ../sass/_typography.scss */
p {
  margin-bottom: 12px;
  margin-top: 0;
  font-size: 12px;
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

/* line 37, ../sass/_typography.scss */
#lede p {
  font-size: 17px;
  line-height: 24px;
}

/* line 42, ../sass/_typography.scss */
a {
  color: #1696d2;
}

/* line 46, ../sass/_typography.scss */
.date {
  color: #353535;
  font-size: 14px;
}

@media (max-width: 850px) {
  /* line 59, ../sass/_typography.scss */
  h1 {
    line-height: 26px;
    font-size: 22px;
    max-width: 90%;
    margin: 0 auto;
  }
}
/* line 10, ../sass/main.scss */
.banner-img {
  position: relative;
  display: block;
  width: 100%;
  height: 400px;
  max-width: none;
  background-image: url(../../img/baltimore2.jpg);
  background-position: center 72%;
  background-size: cover;
}

/* line 22, ../sass/main.scss */
#lede {
  width: 100%;
  max-width: 725px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 80px;
}
/* line 29, ../sass/main.scss */
#lede .title-text {
  margin-bottom: 70px;
}
/* line 32, ../sass/main.scss */
#lede .title-text h2.subtitle {
  font-size: 20px;
  text-align: center;
  margin-top: 0px;
  font-weight: normal;
  line-height: 40px;
}
@media (max-width: 850px) {
  /* line 29, ../sass/main.scss */
  #lede .title-text {
    margin-bottom: 30px;
  }
  /* line 43, ../sass/main.scss */
  #lede .title-text h2.subtitle {
    font-size: 16px;
    line-height: 20px;
    padding-top: 10px;
  }
}
/* line 54, ../sass/main.scss */
#lede .date {
  width: 100%;
  text-align: center;
  border-top: 1px solid #d2d2d2;
  padding-top: 5px;
  padding-bottom: 30px;
}

/* line 63, ../sass/main.scss */
.mega-container {
  background-color: #fff;
  margin-left: 50px;
  margin-right: 50px;
}

/* line 69, ../sass/main.scss */
#story-container {
  width: 100%;
  position: relative;
  max-width: 950px;
  margin: 0 auto;
}
/* line 75, ../sass/main.scss */
#story-container #story {
  width: 40%;
  padding-top: 20px;
  padding-right: 3%;
}
/* line 80, ../sass/main.scss */
#story-container #story .div-section-divider {
  display: block;
  width: 200px;
  height: 6px;
  margin-top: 60px;
  background-color: #1696d2;
  margin-bottom: 50px;
}
/* line 89, ../sass/main.scss */
#story-container #story .slide {
  padding: 0;
  margin: 0;
  min-height: 940px;
  padding-bottom: 100px;
}
/* line 95, ../sass/main.scss */
#story-container #story .slide span.highlight {
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  border-radius: 2px;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}
/* line 106, ../sass/main.scss */
#story-container #story .slide.active span.highlight {
  background-color: #fdd870;
  cursor: pointer;
}
/* line 110, ../sass/main.scss */
#story-container #story .slide.active span.highlight:hover {
  background-color: #fccb41;
}
/* line 122, ../sass/main.scss */
#story-container #sticky-right {
  height: 100vh;
  width: 60%;
  position: absolute;
  top: 0;
  margin-left: 40%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 139, ../sass/main.scss */
#story-container #sticky-right.is-fixed {
  position: fixed;
  width: inherit;
  max-width: inherit;
  margin-left: 0;
}
@media (max-width: 1050px) {
  /* line 139, ../sass/main.scss */
  #story-container #sticky-right.is-fixed {
    width: calc(100% - 100px);
    max-width: none;
  }
}
/* line 151, ../sass/main.scss */
#story-container #sticky-right.is-fixed .sticky-right-inner {
  width: 60%;
  margin-left: 40%;
}
/* line 156, ../sass/main.scss */
#story-container #sticky-right.is-bottom {
  top: auto;
  bottom: 0;
}
/* line 161, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner {
  width: 100%;
  height: 100%;
}
/* line 165, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic {
  width: calc(100% - 25px);
  height: 65%;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  pointer-events: all;
  background-color: #fff;
}
@media (max-width: 850px) {
  /* line 165, ../sass/main.scss */
  #story-container #sticky-right .sticky-right-inner .graphic {
    height: 50%;
    width: 100%;
  }
}
/* line 181, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend {
  max-width: 220px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 10px;
  margin: 10px;
  font-family: "Lato" !important;
}
/* line 192, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend h5 {
  font-size: 16px;
  font-weight: bold;
  font-family: "Lato";
}
/* line 198, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .choromap {
  display: none;
}
/* line 201, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .choromap.active {
  display: block;
}
/* line 205, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .choromap div.item {
  font-size: 14px;
}
/* line 207, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .choromap div.item div {
  height: 12px;
  width: 20px;
  float: left;
  margin-top: 5px;
  margin-right: 10px;
}
/* line 216, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .choromap div.item#c1 div {
  background-color: #cfe8f3;
}
/* line 217, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .choromap div.item#c2 div {
  background-color: #73bfe2;
}
/* line 218, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .choromap div.item#c3 div {
  background-color: #1696d2;
}
/* line 219, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .choromap div.item#c4 div {
  background-color: #0a4c6a;
}
/* line 220, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .choromap div.item#c5 div {
  background-color: #000000;
}
/* line 223, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .dotmap {
  display: none;
}
/* line 226, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .dotmap.active {
  display: block;
}
/* line 230, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .dotmap div.item {
  font-size: 14px;
}
/* line 232, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .dotmap div.item div {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  float: left;
  margin-top: 5px;
  margin-right: 10px;
}
/* line 240, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .dotmap div.item div#b1 {
  background-color: #1695d0;
}
/* line 241, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .dotmap div.item div#b2 {
  background-color: #ec008b;
}
/* line 242, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .dotmap div.item div#b3 {
  background-color: #fdbf11;
}
/* line 243, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .legend .dotmap div.item div#b4 {
  background-color: #000;
}
/* line 250, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .chart-type {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  -webkit-transition: opacity 0.1s ease-out;
  -moz-transition: opacity 0.1s ease-out;
  -o-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
}
/* line 260, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .chart-type.inactive {
  z-index: 0;
  opacity: 0;
}
/* line 265, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .chart-type .title {
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 10px;
}
/* line 270, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .chart-type .title h4 {
  font-size: 16px !important;
  font-family: "Lato";
  text-transform: none;
}
/* line 277, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .chart-type .inline-legend {
  background-color: pink;
  padding-left: 5px;
}
/* line 281, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .chart-type .inline-legend .item {
  float: left;
  font-size: 12px;
  padding-right: 10px;
}
/* line 286, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .chart-type .inline-legend .item div {
  width: 20px;
  height: 10px;
  float: left;
  margin-top: 2px;
  margin-right: 5px;
}
/* line 293, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .chart-type .inline-legend .item div#s1 {
  background-color: #1696d2;
}
/* line 294, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .chart-type .inline-legend .item div#s2 {
  background-color: #fdbf11;
}
/* line 295, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .graphic .chart-type .inline-legend .item div#s3 {
  background-color: #000;
}
/* line 302, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .notes {
  font-size: 12px;
  height: 65%;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  pointer-events: none;
}
/* line 310, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .notes #mobile-spacer {
  display: none;
}
@media (max-width: 850px) {
  /* line 302, ../sass/main.scss */
  #story-container #sticky-right .sticky-right-inner .notes {
    top: calc(50% + 47px);
    padding-left: 5px;
    z-index: 1000;
    position: absolute;
    transform: none;
    height: 25px;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    color: #696969;
    background-color: #fff;
    border-bottom: 3px solid black;
    pointer-events: all;
  }
  /* line 329, ../sass/main.scss */
  #story-container #sticky-right .sticky-right-inner .notes.active {
    height: unset;
    padding-bottom: 5px;
  }
  /* line 335, ../sass/main.scss */
  #story-container #sticky-right .sticky-right-inner .notes #mobile-spacer {
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 14px;
    display: block;
    color: #0096d2 !important;
  }
}
/* line 347, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .bubble-nav {
  width: 15px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 5px;
}
/* line 354, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .bubble-nav .bubble {
  height: 14px;
  width: 14px;
  background-color: #D2D2D2;
  border-radius: 50%;
  float: left;
  clear: both;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  cursor: pointer;
  pointer-events: all;
}
/* line 367, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .bubble-nav .bubble .label {
  margin-left: 17px;
  margin-top: -9px;
  font-size: 13px;
  display: none;
  pointer-events: none;
  background-color: #fff;
  white-space: nowrap;
  direction: rtl;
}
/* line 379, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .bubble-nav .bubble .label p.bubble-text {
  display: inline-block;
  background-color: #1696D2;
  color: #fff;
  margin-right: 27px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: -6px;
}
/* line 392, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .bubble-nav .bubble.active {
  background-color: #0096d2;
}
/* line 397, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .bubble-nav .bubble:hover .label {
  display: block;
}
/* line 402, ../sass/main.scss */
#story-container #sticky-right .sticky-right-inner .bubble-nav .clearer {
  clear: both;
}

/* line 410, ../sass/main.scss */
.footer {
  width: 100%;
  max-width: 725px;
  padding: 20px;
  margin: 0 auto;
}
/* line 416, ../sass/main.scss */
.footer h1 {
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 25px;
  padding-top: 75px;
  color: #000;
  font-size: 34px;
  font-weight: 300;
}
/* line 426, ../sass/main.scss */
.footer p {
  color: #353535;
  font-size: 16px;
}
/* line 431, ../sass/main.scss */
.footer .button {
  background-color: #000;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  display: inline-block;
  padding: 9px 15px;
  border: 0;
  line-height: 26px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
  text-transform: uppercase;
}
/* line 445, ../sass/main.scss */
.footer .button:hover {
  background-color: #1696d2;
}
/* line 451, ../sass/main.scss */
.footer .credit-list p {
  margin-bottom: 10px;
  color: #353535;
  font-size: 14px;
}

@media (max-width: 850px) {
  /* line 461, ../sass/main.scss */
  h2 {
    font-size: 20px;
  }

  /* line 464, ../sass/main.scss */
  .banner-img {
    height: 300px;
  }

  /* line 467, ../sass/main.scss */
  #lede {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  /* line 473, ../sass/main.scss */
  #lede .date {
    padding-bottom: 20px;
  }

  /* line 480, ../sass/main.scss */
  .mega-container {
    margin: 0px;
  }
  /* line 484, ../sass/main.scss */
  .mega-container .mapboxgl-ctrl.mapboxgl-ctrl-attrib, .mega-container .mapboxgl-ctrl-bottom-left {
    display: none;
  }
  /* line 490, ../sass/main.scss */
  .mega-container #story-container #story {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
  }
  /* line 497, ../sass/main.scss */
  .mega-container #story-container #story .div-section-divider {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  /* line 507, ../sass/main.scss */
  .mega-container #story-container #sticky-right {
    z-index: -100;
    width: 100%;
    margin-left: 0;
  }
  /* line 513, ../sass/main.scss */
  .mega-container #story-container #sticky-right.is-fixed {
    z-index: 100;
  }
  /* line 518, ../sass/main.scss */
  .mega-container #story-container #sticky-right.is-fixed .sticky-right-inner {
    width: 100%;
    margin-left: 0;
  }
  /* line 522, ../sass/main.scss */
  .mega-container #story-container #sticky-right.is-fixed .sticky-right-inner .graphic {
    width: 100%;
    transform: none;
    top: 50px;
  }
  /* line 534, ../sass/main.scss */
  .mega-container #story-container #sticky-right .sticky-right-inner .graphic {
    border-bottom: 3px solid black;
  }
  /* line 541, ../sass/main.scss */
  .mega-container #story-container #sticky-right .sticky-right-inner .bubble-nav {
    width: 40px;
    right: -15px;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
  }
  /* line 549, ../sass/main.scss */
  .mega-container #story-container #sticky-right .sticky-right-inner .bubble-nav .bubble .label p.bubble-text {
    display: none;
  }

  /* line 559, ../sass/main.scss */
  .footer {
    padding-left: 40px;
    padding-right: 40px;
  }
  /* line 563, ../sass/main.scss */
  .footer h1 {
    font-size: 24px;
    margin-left: 0px;
  }
}
/* line 573, ../sass/main.scss */
.bar {
  fill: #1696d2;
}

/* line 577, ../sass/main.scss */
.bar.mission, .bar.poverty {
  fill: #000;
}

/* line 581, ../sass/main.scss */
.bar.public, .bar.special {
  fill: #fdbf11;
}

/* line 585, ../sass/main.scss */
.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

/* line 593, ../sass/main.scss */
.tick text {
  font-family: "Lato";
  font-size: 12px;
}

/* line 598, ../sass/main.scss */
.x path {
  display: none;
}

/* line 602, ../sass/main.scss */
.y line {
  display: none;
}

@media (max-width: 600px) {
  /* line 607, ../sass/main.scss */
  .footer, #story, #lede {
    padding-left: 30px;
    padding-right: 30px;
  }

  /* line 612, ../sass/main.scss */
  #story-container #story .div-section-divider {
    width: 100%;
  }
}
