/*colors*/
/* line 35, ../sass/_variables.scss */
#isPhone, #isTablet, #isDesktop {
  display: none;
  pointer-events: none;
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
}

/* line 45, ../sass/_variables.scss */
.hide-for-mobile-only {
  display: block;
}

/* line 49, ../sass/_variables.scss */
.show-for-mobile-only {
  display: none;
}

@media (max-width: 768px) {
  /* line 55, ../sass/_variables.scss */
  #isPhone {
    display: block;
  }

  /* line 59, ../sass/_variables.scss */
  #isTablet, #isDesktop {
    display: none;
  }

  /* line 63, ../sass/_variables.scss */
  .hide-for-mobile-only {
    display: none;
  }

  /* line 66, ../sass/_variables.scss */
  .show-for-mobile-only {
    display: block;
  }
}
@media (max-width: 960px) {
  /* line 72, ../sass/_variables.scss */
  #isTablet {
    display: block;
  }

  /* line 76, ../sass/_variables.scss */
  #isPhone, #isDesktop {
    display: none;
  }
}
/* Text styles */
/* line 3, ../sass/_typography.scss */
h1 {
  font-family: Lato;
  margin-bottom: 70px;
  font-size: 2em;
  line-height: 38px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #333;
  text-align: center;
}

/* line 16, ../sass/_typography.scss */
h2 {
  font-family: Lato;
  font-size: 22px;
  line-height: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 700;
  text-align: left;
  color: #333;
}

/* line 27, ../sass/_typography.scss */
p {
  margin-bottom: 12px;
  margin-top: 0;
  font-size: 12px;
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

/* line 38, ../sass/_typography.scss */
#lede p {
  font-size: 17px;
  line-height: 24px;
}

/* line 43, ../sass/_typography.scss */
a {
  color: #1696d2;
}

/* line 47, ../sass/_typography.scss */
.date {
  color: #353535;
  font-size: 14px;
}

/* line 4, ../sass/maps.scss */
html, body {
  padding: 0px;
  margin: 0px;
}

/* line 11, ../sass/maps.scss */
#map {
  position: relative;
  width: 100%;
  height: 632px;
}

/* line 19, ../sass/maps.scss */
#chart {
  position: relative;
  width: 100%;
  height: 632px;
  background-color: pink;
}

/* line 27, ../sass/maps.scss */
#replay:hover {
  background-color: #0096d2;
}

/* line 31, ../sass/maps.scss */
svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 36, ../sass/maps.scss */
.hidden {
  display: none;
}

/* line 39, ../sass/maps.scss */
.tract {
  stroke-width: 2px;
}

/* line 44, ../sass/maps.scss */
.tract.tractmap {
  stroke: #fff !important;
  fill-opacity: 0.75;
  cursor: pointer;
}

@media (max-width: 460.8px) {
  /* line 52, ../sass/maps.scss */
  #map {
    height: 300px;
  }
}
@media (max-width: 576px) {
  /* line 59, ../sass/maps.scss */
  #map {
    height: 374px;
  }
}
@media (max-width: 660px) {
  /* line 66, ../sass/maps.scss */
  #map {
    height: 474px;
  }
}
