/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";
@import "variables";
@import "typography";

.banner-img {
	position: relative;
    // top: 50%;
    display: block;
    width: 100%;
    height: 400px;
    max-width: none;
    background-image: url(../../img/baltimore2.jpg);
    background-position: center 72%;
    background-size: cover;   
}

#lede {
	width: 100%;
	max-width:725px;
	margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 80px;

	.date 	{
		width: 100%;
		text-align: center;
		border-top: 1px solid #d2d2d2;
		padding-top: 5px;
		padding-bottom: 30px;
	}
}

.mega-container {
	background-color: #fff;
	margin-left:50px;
	margin-right:50px;
}

#story-container {
	width: 100%;
    position: relative;	
    max-width: 950px;
    margin: 0 auto;

    #story {
    	width: $story-width;
		padding-top: 20px;
		padding-right: 3%;

		.div-section-divider {
		    display: block;
		    width: 200px;
		    height: 6px;
		    margin-top: 60px;
		    background-color: #1696d2;
		    margin-bottom: 50px;
		}

		 .slide {
		    padding: 0;
		    margin: 0;
		    min-height: 940px;
		    padding-bottom: 100px;

		    span.highlight {
		    	background-color: #fdd870;
		    	padding-left: 2px;
    			padding-right: 2px;
		    	cursor: pointer;
		    	padding-bottom: 2px;
		    	border-radius: 2px;

		    	&:hover {
		    		background-color: #fccb41;
		    	}

		    	&.point {
		    		// background-color: #db2b27;
		    		// color: #fff;
		    	}
		    }
		}	
    }

    #sticky-right {    	
    	height: 100vh;
	    width: $chart-width;
		// background-color: salmon;    	
    	position: absolute;
	    top: 0;
	    margin-left: $story-width;
	    -webkit-transform: translate3d(0, 0, 0);
	    -moz-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);	
	    pointer-events: none;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;


	    &.is-fixed {
		    position: fixed;
		    width: inherit;
		    max-width: inherit;
		    margin-left: 0;

		    
		    @media (max-width: $MaxOpenSize){	
		    	width: calc(100% - 100px);
		    	max-width: none;		    	
			}

		    .sticky-right-inner {
		    	width: $chart-width;
    			margin-left: $story-width;
		    }
		}
		&.is-bottom {
			top: auto;
			bottom: 0;
		}

		.sticky-right-inner {
			width: 100%;
			height: 100%;

			.graphic {
	    		width: calc(100% - 25px);
	    		height: 65%;
			    top: 50%;
			    position: relative;
			    transform: translateY(-50%);
			    pointer-events: all;
			    background-color: #fff;


			    @media (max-width: $MaxTabletSize){	
			    	height: 40%;
				}


			    .legend {
			    	max-width: 250px;
			    	background-color: white;
			    	position:absolute;
			    	bottom:0;
			    	left: 0;
			    	z-index: 1000;
			    	padding:10px;
			    	margin:10px;
			    	font-family: "Lato" !important;

			    	h5 {
			    		font-size: 16px;
			    		font-weight: bold;
			    		text-transform: uppercase;
			    		font-family: "Lato";
			    	}
			    	.choromap {
			    		display: none;

			    		&.active {
			    			display: block;
			    		}

			    		div.item {
				    		font-size: 14px;
				    		div {
				    			// border-radius:50%;
				    			height: 12px;
				    			width: 20px;
				    			float: left;
				    			margin-top: 5px;
				    			margin-right: 10px;
				    		}

				    		&#c1 div {background-color:#cfe8f3;}
							&#c2 div {background-color:#73bfe2;}
							&#c3 div {background-color:#1696d2;}
							&#c4 div {background-color:#0a4c6a;}
							&#c5 div {background-color:#000000;}
				    	}
			    	}
			    	.dotmap {
			    		display: none;

			    		&.active {
			    			display: block;
			    		}

			    		div.item {
				    		font-size: 14px;
				    		div {
				    			border-radius:50%;
				    			height: 10px;
				    			width: 10px;
				    			float: left;
				    			margin-top: 5px;
				    			margin-right: 10px;

				    			&#b1 {background-color: hsl(199, 81%, 45%);}
				    			&#b2 {background-color: #ec008b;}
				    			&#b3 {background-color: #fdbf11;}
				    			&#b4 {background-color: #000;}
				    		}
				    	}
			    	}				    	
			    }

			    // #map, #chartlong, #chartshort { 
				.chart-type {
				  position:absolute; 
				  width: 100%;
				  height: 100%;		
				  // display: none;

				  &.inactive {
				  	opacity: 0;
				  }

				  .title {
				  	// position: absolute;

				  	h4 {
				  		font-size: 14px;
				  		font-family: "Lato";
				  		text-transform: none;
				  	}
				  }

				  .inline-legend {
				  	background-color: pink;

				  	.item {
				  		float: left;
				  		font-size: 12px;
				  		padding-right: 10px;

				  		div {
				  			width: 20px;
						    height: 10px;
						    float: left;
						    margin-top: 2px;
						    margin-right: 5px;

						    &#s1 {background-color: #1696d2};
						    &#s2 {background-color: #fdbf11};
						    &#s3 {background-color: #000};
				  		}
				  	}
				  }
				}
	    	}

	    	.notes {
	    		// margin-top: 3px;
	    		font-size: 12px;
			    height: 65%;
			    top: 50%;
			    position: relative;
			    transform: translateY(-50%);
			    pointer-events: all;
			    // background-color: #fff;

			    @media (max-width: $MaxTabletSize){	
		    		// padding-top: 40px;
		    		// padding-left: 5px;
		    		display: none;
			    }
			    	
	    	}
	    	

	    	.bubble-nav {
	    		width: 15px;
			    position: absolute;
			    transform: translateY(-50%);
    			top: 50%;
			    right: 5px;

			    .bubble {
			    	height: 14px;
					width: 14px;
					background-color: #D2D2D2;
					border-radius: 50%;
					float:left;
					clear: both;
					margin-top:5px;
					margin-bottom:5px;
					margin-left:5px;					
					cursor: pointer;
					pointer-events: all;
					
					.label {
						// width: max-content;
					    margin-left: 17px;
					    margin-top: -9px;
					    font-size: 13px;
					    display: none;
					    pointer-events:none;
					    text-transform: capitalize;
					    background-color: #fff;
					    white-space: nowrap;
					    direction: rtl;

					    p.bubble-text {
					    	display: inline-block;
					    	background-color: #1696D2;
					    	color: #fff;
					    	margin-right: 27px;
					    	padding-right: 15px;
    						padding-left: 15px;
							padding-top: 8px;
    						padding-bottom: 8px;
    						margin-top: -6px;
					    }
					}

					&.active {
						background-color: $cerulean;
					}

					&:hover {
						.label {
							display: block;
						}
					}
			    }
			    .clearer {
			    	clear:both;
			    }
			}
		}
    }
}

.footer {
	width: 100%;
	max-width: 725px;
	padding:20px;
	margin: 0 auto;

	h1 {
		text-align: left;
		text-transform: uppercase;
		margin-bottom: 25px;
	    padding-top: 75px;
	    color: #000;
	    font-size: 34px;
	    font-weight: 300;
	}

	p {
		color: #353535;
    	font-size: 16px;
	}

	.button {
		background-color: #000;
	    color: #fff;
	    font-size: 13px;
	    font-weight: 400;
	    display: inline-block;
	    padding: 9px 15px;
	    border: 0;
	    line-height: 26px;
	    text-decoration: none;
	    cursor: pointer;
	    border-radius: 0;	    
	    text-transform: uppercase;

	    &:hover {
	    	background-color: $light-cerulean;
	    }
	}	

	.credit-list {
		p {
			margin-bottom: 10px;
		    color: #353535;
		    font-size: 14px;		    
		}
	}
}

// Tablet size styles
@media (max-width: $MaxTabletSize){	
	h2 {
		font-size: 20px;
	}
	.banner-img {
		height: 300px;	
	}
	#lede {
		padding-left:40px;
		padding-right:40px;
		margin-top: 40px;
		margin-bottom: 40px;
	
		.date {
			padding-bottom: 20px;
		}
	}



	.mega-container {
		margin:0px;

		#story-container {

		    #story {
		    	width:100%;
		    	padding-left:30px;
		    	padding-right:30px;
		    	padding-top:0px;


				.div-section-divider {
					margin-top:40px;
					margin-bottom: 30px;
				}

				 .slide {

				}	
		    }

		    #sticky-right {    	
		    	// display: none;
		    	z-index: -100;
		    	width: 100%;
		    	margin-left: 0;

			    &.is-fixed {
			    	
			    	// display: block;
			    	z-index: 100;

				    .sticky-right-inner {
				    	width:100%;
				    	margin-left:0;

				    	.graphic {
				    		width: 100%;
				    		transform: none;
				    		top:40px;
				    	}
				    }
				}
				&.is-bottom {
				}

				.sticky-right-inner {

					.graphic {
						border-bottom: 3px solid black;

					    div {
					    }
			    	}

			    	.bubble-nav {
			    		width: 40px;					    
					    right: -15px;
					    background-color: rgba(255,255,255,.5);

						.bubble {
							.label {
								p.bubble-text {
									display: none;
								}
							}	
						}
			    	}
			    }
			}
		}	
	}
	.footer {
 		padding-left:40px;
 		padding-right:40px;

 		h1 {
 			font-size: 24px;
 			margin-left: 0px;
 		}
 	}
	
}

// bar chart styles

.bar {
	fill: #1696d2;
}

.bar.mission, .bar.special, .bar.poverty {
	fill: #fdbf11;
}

.bar.public {
	fill: #000;
}

.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.tick text {
	font-family: "Lato"
}

.x path {
	display: none;
}

.y line {
	display: none;
}

@media (max-width: $MaxPhoneSize){	
	.footer, #story, #lede {
 		padding-left:30px;
 		padding-right:30px;
 	}

 	#story-container #story .div-section-divider {
 		width: 100%;
 	}
}
