@import "variables";
@import "typography";

html, body {
  // width: 100%;
  // height: 100%;  
  padding: 0px;
  margin: 0px;
  // padding-top:50%;
}
#map { 
  position:relative; 
  // width: 800px;
  width: 100%;
  height: 632px;
  // background-color: pink;
}

#chart {
  position:relative; 
  width: 100%;
  height: 632px;
  // padding-top: 50%;
  background-color: pink;
}

#replay:hover {
  background-color: $cerulean;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.hidden {
  display: none;
}
.tract {
  fill: $cerulean;  
  stroke-width: 2px;
}

.tract.tractmap {
  stroke: #fff !important;
  fill-opacity: 0.75;
  cursor: pointer;
}


@media (max-width: $MaxPhoneSize * 0.6){
  #map {
    // width: 600px;
    height: 300px;  
  }
}

@media (max-width: $MaxTabletSize * 0.6){
  #map {
    // width: 600px;
    height: 374px;  
  }
}

@media (max-width: $MaxDesktopSize * 0.6){
  #map {
    // width: 600px;
    height: 474px;  
  }
  
}